table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding-left: 3px;
    padding-right: 3px;
}

.highlighted-cell {
    background-color: #cfe2ff;
    max-width: 102px;
}

.highlighted-cell b {
    background: none;
}